*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
}
.nav{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-nav img{
    width: 200px;
}
.mid-nav p{
    font-size: 20px;
    color: #FA4A0C;
}
.right-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-nav li{
    list-style: none;
    margin: 0 20px;
}
.right-nav li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}
.bar{
    display: none;
}
.hero{
    width: 100%;
    min-height: 85vh;
    background-image: url(../img/Rectangle\ 48.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text-content{
    width: 1005px;
    color: #ffffff;
    position: relative;
    bottom: 50px;
}
.text-content p{
    text-align: center;
    font-size: 24px;
}
.text-content h1{
    font-size: 58px;
    text-align: center;
    margin: 20px 10px;
}
.text-content h4{
    text-align: center;
    font-weight: 300;
    margin: 0 10px;
    letter-spacing: 0.5px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.buttons button{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    background: #FA4A0C;
    border-radius: 30px;
    border: none;
    margin: 30px;
}

.apps button{
    background: transparent;
    border: 1px solid gainsboro;
}

/* ----------------------Header Ends---------------------------- */
span{
    color: #0000ff;
}
.app-pic-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-pic-1 img{
    width: 500px;
    position: relative;
    bottom: 100px;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line p{
    width: 60%;
    height: 2px;
    background-color: #E4E4E4;
}
.section-1-text{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section-1-text p{
    font-size: 44px;
    margin: 20px 0px;
    letter-spacing: 0.1px;
    font-weight: 600;
    opacity: 80%;
}

/* ----------------------section-1 Ends---------------------------- */

.section-2{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-2-left{
    width: 302px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-2-left img{
    width: 290px;
}
.section-2-right{
    width: 568px;
    height: 280px;
}
.section-2-right h3{
    font-size: 24px;
    color: #FA4A0C;
    letter-spacing: 0.1px;
}
.section-2-right h2{
    font-size: 40px;
    letter-spacing: 0.2px;
    margin: 20px 0;
}
.section-2-right h4{
    font-size: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
/* ----------------------section-2 Ends---------------------------- */

.section-3{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-3-left{
    width: 568px;
    height: 280px;
}
.section-3-left h3{
    font-size: 24px;
    color: #FA4A0C;
    letter-spacing: 0.1px;
}
.section-3-left h2{
    font-size: 40px;
    letter-spacing: 0.2px;
    margin: 20px 0;
}
.section-3-left h4{
    font-size: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
.section-3-right{
    width: 302px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3-right img{
    width: 290px;
}
/* ----------------------section-3 Ends---------------------------- */

.section-4{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-4-left{
    width: 302px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-4-left img{
    width: 290px;
}
.section-4-right{
    width: 568px;
    height: 280px;
}
.section-4-right h3{
    font-size: 24px;
    color: #FA4A0C;
    letter-spacing: 0.1px;
}
.section-4-right h2{
    font-size: 40px;
    letter-spacing: 0.2px;
    margin: 20px 0;
}
.section-4-right h4{
    font-size: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}
/* ----------------------section-4 Ends---------------------------- */

.section-5{
    width: 100%;
    height: 75vh;
    background: url(../img/Rectangle\ 47.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-5-text h2{
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin: 0px 10px;
}
.section-5-text h4{
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin: 25px 10px 10px 10px;
}
.buttons-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.buttons-2 button{
    padding: 10px 20px;
    margin: 0px 10px;
    background-color: #FA4A0C;
    border: none;
    border-radius: 5px;
    color: #ffffff;
}
#appstr{
    background: transparent;
    border: 1px solid #E4E4E4;
}
    /* ----------------------section-5 Ends---------------------------- */