*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left-nav img{
    width: 200px;
}
.mid-nav p{
    font-size: 20px;
    color: #FA4A0C;
}
.right-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-nav li{
    list-style: none;
    margin: 0 20px;
}
.right-nav li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #000000;
}
.hero{
    width: 100%;
    height: 85vh;
    background-image: url(../img/Rectangle\ 48.png);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.text-content{
    width: 1005px;
    color: #ffffff;
}
.text-content p{
    text-align: center;
    font-size: 24px;
}
.text-content h1{
    font-size: 58px;
    text-align: center;
    margin-top: 20px;
}
.text-content h4{
    text-align: center;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.buttons{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.buttons button{
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
    background: #FA4A0C;
    border-radius: 30px;
    border: none;
    margin-right: 30px;
}

.apps button{
    background: transparent;
    border: 1px solid gainsboro;
}